---
---

<div>
	<div class="flex justify-between">
		<p class="font-medium">climbing gym employee</p>
		<p>indianapolis, in</p>
	</div>
	<div class="flex justify-between mb-2">
		<p>climb time indy</p>
		<p>november 2023&mdash;present</p>
	</div>
	<div class="flex">
		<p class="pr-2">-</pb-2">
		<p class="text-sm">
			performed routine cleaning and maintenance duties to keep a clean and welcoming environment
		</p>
	</div>
	<div class="flex">
		<p class="pr-2">-</pb-2">
		<p class="text-sm">
			handled customer service interactions including customer transactions and party reservations
		</p>
	</div>
</div>
