---
---

<div>
    <div class="flex justify-between">
	    <p class="font-medium">supervisor and belay staff</p>
	    <p>west lafayette, in</p>
    </div>
    <div class="flex justify-between mb-2">
	    <p>purdue university, recreation and wellness</p>
	    <p>june 2022&mdash;july 2023</p>
    </div>
    <div class="flex">
        <p class="pr-2">-</p>
        <p class="text-sm">
            coordinated with staff to lead patrons and staff to locker rooms for safety during tornado warning
        </p>
    </div>
    <div class="flex">
        <p class="pr-2">-</p>
        <p class="text-sm">
            fostered an inclusive environment to ensure all patrons felt welcome at the climbing wall
        </p>
    </div>
    </p>
</div>
