---
---

<div>
	<div class="flex justify-between">
		<p class="font-medium">software engineering intern</p>
		<p>new york, ny</p>
	</div>
	<div class="flex justify-between mb-2">
		<p>smartpass</p>
		<p>march&mdash;may 2023</p>
	</div>
	<div class="flex">
		<p class="pr-2">-</pb-2">
		<p class="text-sm">
			assembled frontend cypress tests for angular web app to aid development process
		</p>
	</div>
	<div class="flex">
		<p class="pr-2">-</pb-2">
		<p class="text-sm">
			collaborated with teammates to fix bugs discovered via customer feedback
		</p>
	</div>
</div>
