---
---

<div>
	<div class="flex justify-between">
		<p class="font-medium">teaching assistant</p>
		<p>west lafayette, in</p>
	</div>
	<div class="flex justify-between mb-2">
		<p>purdue university, department of ece</p>
		<p>august 2020&mdash;may 2021</p>
	</div>
	<div class="flex">
		<p class="pr-2">-</pb-2">
		<p class="text-sm">
			communicated python and data science concepts by walking through problem with students
		</p>
	</div>
	<div class="flex">
		<p class="pr-2">-</pb-2">
		<p class="text-sm">
			referenced python documentation to better understand issues encountered in office hours
		</p>
	</div>
</div>
