---
import Layout from '../layouts/Layout.astro';
import Sidebar from '../components/Sidebar.astro';
import WorkContent from '../components/WorkContent.astro';
---

<Layout title="Welcome to Astro.">
	<div class="flex h-screen p-40 space-x-16">
		<Sidebar />
		<WorkContent />
	</div>
</Layout>
