---
const skills = [
	"C",
	"Python",
	"Java",
	"JavaScript / TypeScript",
	"Data Structures and Algorithms",
	"Computer Networks",
	"Operating Systems",
]
const hobbies = [
	"Rock Climbing",
	"Music (piano, trumpet, and others)",
]
---

<div class="w-3/4">
	<p class="text-xl mb-4">education</p>
	<div class="hidden lg:flex lg:flex-col">
		<div class="mb-4">
			<div class="flex flex-col lg:flex-row justify-between">
				<p class="font-bold">Purdue University</p>
				<p>West Lafayette, IN</p>
			</div>
			<div class="flex flex-col lg:flex-row justify-between">
				<p>Bachelor of Science in Computer Engineering</p>
				<p>August 2023</p>
			</div>
		</div>
		<div>
			<div class="flex">
				<p class="pr-2">-</pb-2">
				<p class="text-sm">Elmore W. (Bill) Rice III and Shirley A. Rice Engineering Scholarship</p>
			</div>
			<div class="flex">
				<p class="pr-2">-</pb-2">
				<p class="text-sm">Wilbur T. Leath Band Scholarship</p>
			</div>
		</div>
	</div>
	<div class="flex flex-col lg:hidden">
		<div class="space-y-4 lg:space-y-0 mb-4">
			<div class="flex flex-col lg:flex-row justify-between">
				<p class="font-bold">Purdue University</p>
				<p>Bachelor of Science in Computer Engineering</p>
			</div>
			<div class="flex flex-col lg:flex-row justify-between">
				<p>West Lafayette, IN</p>
				<p>August 2023</p>
			</div>
		</div>
		<div>
			<div class="flex">
				<p class="pr-2">-</pb-2">
				<p class="text-sm">Elmore W. (Bill) Rice III and Shirley A. Rice Engineering Scholarship</p>
			</div>
			<div class="flex">
				<p class="pr-2">-</pb-2">
				<p class="text-sm">Wilbur T. Leath Band Scholarship</p>
			</div>
		</div>
	</div>
	<div>
		<p class="text-xl mt-10 mb-4">skills</p>
		<div class="text-sm">
			{
				skills.map(skill => (
					<div class="flex">
						<p class="pr-2">-</p>
						<p>{skill}</p>
					</div>
				))
			}
		</div>
	</div>
	<div>
		<p class="text-xl mt-10 mb-4">hobbies</p>
		<div class="text-sm">
			{
				hobbies.map(hobby => (
					<div class="flex">
						<p class="pr-2">-</p>
						<p>{hobby}</p>
					</div>
				))
			}
		</div>
	</div>
</div>