---
---

<div class="w-3/4">
	<p class="text-lg pb-2">education</p>
	<div class="flex justify-between">
		<p class="font-medium">purdue university</p>
		<p>west lafayette, in</p>
	</div>
	<div class="flex justify-between mb-2">
		<p>bachelor of science in computer engineering</p>
		<p>august 2023</p>
	</div>
	<div class="flex">
		<p class="pr-2">-</pb-2">
		<p class="text-sm">elmore w. (bill) rice iii and shirley a. rice engineering scholarship</p>
	</div>
	<div class="flex">
		<p class="pr-2">-</pb-2">
		<p class="text-sm">wilbur t. leath band scholarship</p>
	</div>
	<p class="text-lg pt-8 pb-2">skills</p>
	<div class="text-sm">
		<p>- c</p>
		<p>- python</p>
		<p>- java</p>
		<p>- javascript/typescript</p>
		<p>- data structures</p>
		<p>- algorithms</p>
		<p>- computer networks</p>
		<p>- operating systems</p>
	</div>
	<p class="text-lg pt-8 pb-2">hobbies</p>
	<div class="text-sm">
		<p>- rock climbing</p>
		<p>- music (piano, trumpet, and others)</p>
	</div>
</div>