---
---

<div class="w-3/4">
	<p class="text-xl pb-2">education</p>
	<div class="hidden lg:flex lg:flex-col">
		<div class="space-y-2 lg:space-y-0 mb-2">
			<div class="flex flex-col lg:flex-row justify-between">
				<p class="font-medium">purdue university</p>
				<p>west lafayette, in</p>
			</div>
			<div class="flex flex-col lg:flex-row justify-between">
				<p>bachelor of science in computer engineering</p>
				<p>august 2023</p>
			</div>
		</div>
		<div>
			<div class="flex">
				<p class="pr-2">-</pb-2">
				<p class="text-sm">elmore w. (bill) rice iii and shirley a. rice engineering scholarship</p>
			</div>
			<div class="flex">
				<p class="pr-2">-</pb-2">
				<p class="text-sm">wilbur t. leath band scholarship</p>
			</div>
		</div>
	</div>
	<div class="flex flex-col lg:hidden">
		<div class="space-y-2 lg:space-y-0 mb-2">
			<div class="flex flex-col lg:flex-row justify-between">
				<p class="font-medium">purdue university</p>
				<p>bachelor of science in computer engineering</p>
			</div>
			<div class="flex flex-col lg:flex-row justify-between">
				<p>west lafayette, in</p>
				<p>august 2023</p>
			</div>
		</div>
		<div>
			<div class="flex">
				<p class="pr-2">-</pb-2">
				<p class="text-sm">elmore w. (bill) rice iii and shirley a. rice engineering scholarship</p>
			</div>
			<div class="flex">
				<p class="pr-2">-</pb-2">
				<p class="text-sm">wilbur t. leath band scholarship</p>
			</div>
		</div>
	</div>
	<div>
		<p class="text-xl pt-8 pb-2">skills</p>
		<div class="text-sm">
			<p>- c</p>
			<p>- python</p>
			<p>- java</p>
			<p>- javascript/typescript</p>
			<p>- data structures</p>
			<p>- algorithms</p>
			<p>- computer networks</p>
			<p>- operating systems</p>
		</div>
	</div>
	<div>
		<p class="text-xl pt-8 pb-2">hobbies</p>
		<div class="text-sm">
			<p>- rock climbing</p>
			<p>- music (piano, trumpet, and others)</p>
		</div>
	</div>
</div>