---
---

<div class="w-3/4">
	<p class="text-2xl pb-2">education</p>
	<div class="flex justify-between">
		<p>purdue university</p>
		<p>west lafayette, in</p>
	</div>
	<div class="flex justify-between">
		<p>bachelor of science in computer engineering</p>
		<p>august 2023</p>
	</div>
	<p class="text-sm">- Elmore W. (Bill) Rice III and Shirley A. Rice Engineering Scholarship</p>
	<p class="text-sm">- Wilbur T. Leath Band Scholarship</p>
	<p class="text-2xl pt-8 pb-2">skills</p>
	<p>- C</p>
	<p>- Python</p>
	<p>- Java</p>
	<p>- JavaScript/TypeScript</p>
	<p>- Data Structures</p>
	<p>- Algorithms</p>
	<p class="text-2xl pt-8 pb-2">hobbies</p>
	<p>- rock climbing</p>
	<p>- music (piano, trumpet, and others)</p>
</div>
