---
import MusicAndAI from '../content/projects/MusicAndAI.astro';
import KnotID from '../content/projects/KnotID.astro';
import SmartFeeder from '../content/projects/SmartFeeder.astro';

---

<div class="w-3/4 space-y-8">
	<MusicAndAI />
	<KnotID />
	<SmartFeeder />
</div>
