---
import ThemeIcon from './ThemeIcon.astro';

const textLinks: { label: string; href: string }[] = [
    { label: 'about', href: '/' },
    { label: 'projects', href: '/projects' },
    { label: 'work experience', href: '/work' },
]
---

<div class="flex flex-col w-1/4">
    <a
        href="https://kevinswebsite.net"
        target="_self"
        class="hover:underline text-4xl font-medium"
    >
        kevin kwon 
    </a>
    <p class="text-xl mb-4">
        software engineer
    </p>
    <ThemeIcon />
    <div class="flex flex-col my-4 text-sm">
        <a
            href="mailto:kevinkwonmail@gmail.com"
            target="_blank"
            class="hover:underline"
        >
            email
        </a>
        <a
            href="https://github.com/realkevinkwon"
            target="_blank"
            class="hover:underline"
        >
            github
        </a>
        <a
            href="https://linkedin.com/in/realkevinkwon"
            target="_blank"
            class="hover:underline"
        >
            linkedin
        </a>
    </div>
    <div class="flex flex-col space-y-1 my-8">
        <ul>
            {
                textLinks.map(({ label, href }) => (
                    <li>
                        <a
                            aria-current={Astro.url.pathname === href}
                            class:list={[
                                'link',
                                {
                                    active:
                                        Astro.url.pathname === href ||
                                        (href !== '/' && Astro.url.pathname.startsWith(href)),
                                },
                                'hover:underline'
                            ]}
                            href={href}
                        >
                            {label}
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</div>

<style>
    .link.active {
        font-weight: 700;
    }
</style>
