---
import ClimbTimeIndy from '../content/work/ClimbTimeIndy.astro';
import PurdueClimbing from '../content/work/PurdueClimbing.astro';
import SmartPass from '../content/work/SmartPass.astro';
import TeachingAssistant from '../content/work/TeachingAssistant.astro';

---

<div class="w-3/4 space-y-8">
	<ClimbTimeIndy />
	<PurdueClimbing />
	<SmartPass />
	<TeachingAssistant />
</div>
