---
---

<div>
	<div class="flex justify-between">
		<a href="https://kevinswebsite.net" target="_blank" class="hover:underline font-medium">
            kevinswebsite.net
        </a>
		<p>fishers, in</p>
	</div>
	<div class="flex justify-between mb-2">
		<p>creator</p>
		<p>march 2023&mdash;present</p>
	</div>
	<div class="flex">
		<p class="pr-2">-</pb-2">
		<p class="text-sm">
            developed personal website with react, next.js, and tailwindcss to showcase resume and projects (iteration 1)
		</p>
	</div>
	<div class="flex">
		<p class="pr-2">-</pb-2">
		<p class="text-sm">
            developed personal website with astro and tailwindcss to showcase resume and projects (iteration 2 and 3)
		</p>
	</div>
</div>
