---
---

<div>
	<div class="flex justify-between">
		<a href="https://github.com/Mus2Vid/Mus2Vid-code" target="_blank" class="hover:underline font-medium">
			music and ai
		</a>
		<p>west lafayette, in</p>
	</div>
	<div class="flex justify-between mb-2">
		<p>senior participation in vip</p>
		<p>september 2023&mdash;present</p>
	</div>
	<div class="flex">
		<p class="pr-2">-</pb-2">
		<p class="text-sm">
            proposed and began implementing new project structure to reduce existing technical debt
		</p>
	</div>
	<div class="flex">
		<p class="pr-2">-</pb-2">
		<p class="text-sm">
            composed data pipelines with pandas and numpy for proper data handling
		</p>
	</div>
</div>
