---
---

<div>
	<div class="flex justify-between">
		<a
			href="https://github.com/realkevinkwon/SmartFeeder"
			target="_blank"
			class="hover:underline font-medium"
		>
			smart feeder
		</a>
		<p>west lafayette, in</p>
	</div>
	<div class="flex justify-between mb-2">
		<p>digital systems senior design</p>
		<p>august&mdash;december 2022</p>
	</div>
	<div class="flex">
		<p class="pr-2">-</pb-2">
		<p class="text-sm">
			collaborated with team lead to design and write C code with freeRTOS for esp32 microcontroller
		</p>
	</div>
</div>
